@charset "utf-8";
/* CSS Document */

body{
	overflow:hidden;
	background-color:#424646;
	margin:0;
	padding:0;
}

.content{min-width:900px;}

#menu{
	position: fixed;
	top: 0px;
	left: -142px;
	width: 150px;
	height: 100%;
	z-index: 1500;
	transition:left .3s ease-out;
}

#menu .button{
	position: absolute;
	top: 0;
	right: -42px;
	width: 50px;
	height: 50px;
	background-color: #333333;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(/images/catalog/libraries/img/menu.png);
	cursor: pointer;
	opacity: 1;
	border-radius:0 5px 5px 0 / 0 5px 5px 0;
}
#menu .button:hover{
	opacity: 1;
}

ul.zoom {
	display:flex;
	margin: 0px;
	padding: 0px;
	border-left:1px solid #cccccc;
	height:50px;
	align-items:center;
	padding-left:10px;
	filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
}
ul.zoom li {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
ul.zoom #zoomIN {
	background-image: url(/images/catalog/libraries/img/zoomIn.png);
	cursor: pointer;
	opacity: 1;
	width:32px;
	height:32px;
}
ul.zoom #zoomIN:hover {
	opacity: 0.7;
}
::marker{content:"";display:none;color:transparent;}
ul.zoom #zoomOUT {
	background-image: url(/images/catalog/libraries/img/zoomOut.png);
	cursor: pointer;
	opacity: 1;
	width:32px;
	height:32px;
}
ul.zoom #zoomOUT:hover {
	opacity: 0.7;
}
.pageNum {
	left: 3px;
	bottom: 17px;
	color: #ffffff;
	font-size:12px;
	background:#838585;
	height:25px;
	line-height:25px;
	border-radius:12.5px;
	padding-left:10px;
	padding-right:10px;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
	font-family:sans-serif;
}
.pageNum input {
	width: 2em;
	text-align:center;
	background:#838585;
	color:#ffffff;
	border:none;
}

#menu .thumb{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 132px;
	height: 100%;
	overflow: auto;
	background:#333333;
}

#menu .thumb p{
	margin: 5px 10px;
	width: 100px;
	height: 145px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	opacity: 0.7;
	cursor: pointer;
}
#menu .thumb p:hover{
	opacity: 1;
}
#menu .thumb_wrapper{
	padding-right:10px;
	width:132px;
	height:100%;
	background:#333333;
}
.magazine-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	width:922px;
	height:600px;
	margin:auto;
}

.magazine-viewport .magazine{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

.magazine-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.magazine-viewport .zoomer .region{
	display:none;
}

.magazine .region{
	position:absolute;
	overflow:hidden;
	background:#0066FF;
	opacity:0.2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .region:hover{
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.magazine .region.zoom{
	opacity:0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.magazine .region.zoom:hover{
	opacity:0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.magazine-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.magazine .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.magazine .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.magazine-viewport .zoom-in .even .gradient,
.magazine-viewport .zoom-in .odd .gradient{

	display:none;

}

.magazine-viewport .loader{
	background-image:url(/images/catalog/libraries/img/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.magazine-viewport .next-button,
.magazine-viewport .previous-button{
	width:200px;
	height:600px;
	position:absolute;
	top:0;
	max-height: calc(100% - 200px);
	bottom: 0;
	margin: auto;
}

.magazine-viewport .next-button:hover,
.magazine-viewport .previous-button:hover{cursor: pointer;}

.magazine-viewport .next-button{
	right:0;
	z-index:1200;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
}

.magazine-viewport .previous-button{
	left:0;
	z-index: 1200;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
}

/*.magazine-viewport .previous-button-hover,
.magazine-viewport .next-button-hover{
	background-color:rgba(0,0,0, 0.2);
}*/

/*.magazine-viewport .previous-button-hover,
.magazine-viewport .previous-button-down{
	background-image:url(/images/catalog/libraries/img/arrows.png);
	background-position:-4px 284px;
	background-repeat:no-repeat;
}*/

/*.magazine-viewport .previous-button-down,
.magazine-viewport .next-button-down{
	background-color:rgba(0,0,0, 0.4);
}*/

/*.magazine-viewport .next-button-hover,
.magazine-viewport .next-button-down{
	background-image:url(/images/catalog/libraries/img/arrows.png);
	background-position:-38px 284px;
	background-repeat:no-repeat;
}*/

.magazine-viewport .zoom-in .next-button,
.magazine-viewport .zoom-in .previous-button{
	display:none;
}

.animated{
	-webkit-transition:margin-left 0.5s;
	-moz-transition:margin-left 0.5s;
	-ms-transition:margin-left 0.5s;
	-o-transition:margin-left 0.5s;
	transition:margin-left 0.5s;
}

.thumbnails{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:140px;
	z-index:1;
}

.thumbnails > div{
	width:1050px;
	height:100px;
	margin:20px auto;
}

.thumbnails ul{
	margin:0;
	padding:0;
	text-align:center;
	-webkit-transform:scale3d(0.5, 0.5, 1);
	-moz-transform:scale3d(0.5, 0.5, 1);
	-o-transform:scale3d(0.5, 0.5, 1);
	-ms-transform:scale3d(0.5, 0.5, 1);
	transform:scale3d(0.5, 0.5, 1);
	-webkit-transition:-webkit-transform ease-in-out 100ms;
	-moz-transition:-moz-transform ease-in-out 100ms;
	-ms-transition:-ms-transform ease-in-out 100ms;
	-o-transition:-o-transform ease-in-out 100ms;
	transition:transform ease-in-out 100ms;
}

.thumbanils-touch ul{
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}

.thumbnails-hover ul{
	-webkit-transform:scale3d(0.6, 0.6, 1);
	-moz-transform:scale3d(0.6, 0.6, 1);
	-o-transform:scale3d(0.6, 0.6, 1);
	-ms-transform:scale3d(0.6, 0.6, 1);
	transform:scale3d(0.6, 0.6, 1);
}

.thumbnails li{
	list-style:none;
	display:inline-block;
	margin:0 5px;
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	-ms-box-shadow:0 0 10px #ccc;
	-o-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px  #ccc;
	-webkit-transition:-webkit-transform 60ms;
	-moz-transition:-webkit-transform 60ms;
	-o-transition:-webkit-transform 60ms;
	-ms-transition:-webkit-transform 60ms;
	transition:-webkit-transform 60ms;
}

.thumbnails li span{
	display:none;
}

.thumbnails .current{
	-webkit-box-shadow:0 0 10px red;
	-moz-box-shadow:0 0 10px red;
	-ms-box-shadow:0 0 10px red;
	-o-box-shadow:0 0 10px red;
	box-shadow:0 0 10px red;
}

.thumbnails .thumb-hover{
	-webkit-transform:scale3d(1.3, 1.3, 1);
	-moz-transform:scale3d(1.3, 1.3, 1);
	-o-transform:scale3d(1.3, 1.3, 1);
	-ms-transform:scale3d(1.3, 1.3, 1);
	transform:scale3d(1.3, 1.3, 1);

	-webkit-box-shadow:0 0 10px #666;
	-moz-box-shadow:0 0 10px #666;
	-ms-box-shadow:0 0 10px #666;
	-o-box-shadow:0 0 10px #666;
	box-shadow:0 0 10px #666;
}

.thumbanils-touch .thumb-hover{
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}

.thumbnails .thumb-hover span{
	position:absolute;
	bottom:-30px;
	left:0;
	z-index:2;
	width:100%;
	height:30px;
	font:bold 15px arial;
	line-height:30px;
	color:#666;
	display:block;
	cursor:default;
}

.thumbnails img{
	float:left;
}

.exit-message{
	position: absolute;
	top:10px;
	left:0;
	width:100%;
	height:40px;
	z-index:10000;
}

.exit-message > div{
	width:140px;
	height:30px;
	margin:auto;
	background:rgba(0,0,0,0.5);
	text-align:center;
	font:12px arial;
	line-height:30px;
	color:white;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

#pagemenu {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center
}

#pagemenu li {
	list-style: none;
	width: 140px;
	text-align: center;

	float: left;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;

}

#pagemenu li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 20px;
}
.zoom-icon{
	/*position:absolute;*/
	/*z-index:1000;*/
	width:22px;
	height:22px;
	top:10px;
	right:10px;
	background-image:url(/images/catalog/libraries/pics/zoom-icons.png);
	background-size:88px 22px;
}

.zoom-icon-in{
	background-position:0 0;
	cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover{
	background-position:-22px 0;
	cursor: pointer;
}

.zoom-icon-out{
	background-position:-44px 0;
}

.zoom-icon-out.zoom-icon-out-hover{
	background-position:-66px 0;
	cursor: pointer;
}

.bottom{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	bottom:15px;
	width:660px;
	z-index: 1100;
}
.bottom_inner{width:660px;margin:auto;display:flex;background:#505353;height:50px;border:1px solid #cccccc;border-radius:25px;align-items:center;padding-left:10px;padding-right:10px;}
#slider-bar{filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));}
.turnjs-slider{width:60%;background: rgba(255,255,255, 0.5);}
.turnjs-slider .ui-slider-horizontal{width:auto;margin-left:0;margin-right:22px;}
.turnjs-slider .ui-slider-handle{width:20px;height:20px;border-radius:10px;background-color:#ffffff;opacity:1;}
.turnjs-slider .ui-slider-horizontal .ui-slider-handle{margin-top:-8px;margin-left:0;}
.movePage{
	margin: 0px auto;
	display:flex;
	align-items: center;
	height:50px;
	border-left:1px solid #cccccc;
	padding-left:10px;
	margin-left:0;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
}
.prevBlock, .nextBlock{
	width: 32px;
	height: 32px;
	background-image: url(/images/catalog/libraries/img/arrows.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.prevBlock{
	background-position: top left;
}

.nextBlock{
	background-position: top right;
}

.prevBlock:hover, .nextBlock:hover{
	opacity:0.7;
}

/*スクロールバーChrome*/
::-webkit-scrollbar {/*縦方向スクロールバーの幅*/
	width: 12px;
}
::-webkit-scrollbar:horizontal {/*横方向スクロールバーの高さ*/
	height: 12px;
}
::-webkit-scrollbar-track {/*スクロールバーの軌道*/
	background: #C4C4C4;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {/*つまみの部分*/
	box-shadow: inset 0 0 10px #333333;
	border-radius: 10px;
	background: #838585;
}
::-webkit-scrollbar-thumb:hover {/*マウスホバー時*/
	background: #666666;
}
/*スクロールバーFirefox*/
.hljs {/*適用させる箇所のID, クラスに置き換えてください*/
	scrollbar-width: thin;/*細さ(幅・高さ両方に適用)*/
	scrollbar-color: orange lemonchiffon;/*つまみの色 軌道の色*/
}
@media all and (-ms-high-contrast: none) {
	ul.zoom{color:transparent;}

}